* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:#4A0FDE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section#score {
  width: 100%;
}

#board {
  width: 600px;
  height: 600px;
  margin: 1em auto;
  background-color:rgba(74, 15, 222, 0.856);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px lightgray;
}

#board  > div {    
  border: 1px solid rgb(255, 208, 0);
  box-shadow: 1px 1px 5px 1px rgb(255, 188, 5);
  float: left;
  width: 60px;
  height: 60px;
}

section#score div {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 5em;
  font-size:22px;
  text-align: center;
  padding: 0.5em;
  background-color: #FFC300 ;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}

#score h2:first-of-type{
  font-size:20px;
  margin:10px 0 0 0;
}

#score h2{
  font-size:16px;
}

#score strong{
  margin:0;
}

section#score div strong{
  font-size:30px;
}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  display: none;
  flex-direction: column;
  color: white;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  left: 50;
  top: 12vh;
  z-index: 1;
  padding: 10px;
  background-color: rgba(243, 80, 16, 0.863) ;
  border: 1px solid #C9D847;
  box-shadow: 1px 1px 5px 1px lightgray;
  border-radius: 20px;
}

section#over h2{
  font-size:28px;
}

.invisible {
  display: none;
}

#again{
  display: flex;
  justify-content: center;
  align-items: center;
  width:260px;
  height:50px;
  border-radius:20px;
  font-size:16px;
  background-color: #FFC300;
  box-shadow: 1px 1px 5px 1px lightgray;
  font-weight: 500;
  letter-spacing: 1px;
}

#again:hover{
  cursor: pointer;
  background-color:rgb(255, 208, 0);
  box-shadow: 1px 1px 5px 1px rgb(255, 188, 5);
}